<p id="notice"><%= notice %></p>

<p>
  <strong>Agency name:</strong>
  <%= @agency.agency_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @agency.password %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agency.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @agency.website %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
